* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #FFF;
    font-size: 18px;
    text-align: justify;
}

a {
    text-decoration-line: none;
}

body {
width: 100%;
background:rgb(90, 42, 224);
}

 /* CABEÇALHO */
header {
    width: 100%;
    height: 65px;
    background:  rgb(93, 26, 234);
    border-bottom: 4px solid rgb(232,111, 61);
}
.logoheader {
    padding-top: 13px; text-align: center;


}

/* BANNER TOPO */
#image1 {
    background:  rgb(93, 26, 234);
    background-repeat: no-repeat;
    width: 100%;
    height: 498px;
    
    
}
/* MAIN */
.areadepostagem {
    background: rgb(90, 42, 224);
    width: 896px;
    height: 778px;
    margin: 0 auto;   
}
/* TEXTO AO LADO DO FORMULARIO */
.post1 {
    width: 400px ;
    height: 545px;
    float: left;
}


/* SPAM DESTAQUE NA COR 232 111 108 (LARANJA) */
.lucrar {
    color: rgb(232,111,108);
}

/* Mas você não está sozinho! */
.sozinho {
    font-size: 25px;
}
/* TAMANHO DO ESPAÇAMENTO ENTRE AS LINHAS DO TEXTO */
.espacoparabaixo {height: 25px; display: block;}

/* ICON VERIFICAR DENTRO DE UM CIRCULO */
.verificar {
    float: left;
   padding-top: 10px;
   padding-right: 20px;
}

.verificar1linha {
    float: left;
    padding-right: 20px;
}

/* LETRAS MIUDAS DO CONVITE DO TEXTO AO LADO PARA PREENCHER FORMULARIO */
.letrasmiudas {font-size: 14px;}

/* AREA DO FORMULARIO */
.post1form {
margin-top: 50px;
width: 320px;
height: 62px;
font-size: 25px;
clear: right;
display: inline-block;
}

/* FORMULÁRIO  */
form {background: rgb(255, 255, 255);
    height: 675px;
    float: right;
    border: 2px solid rgb(232,111,108); 
    
    }
    
    /* PARA CENTRALIZAR O CONTEÚDO DO FORMULÁRIO DENTRO DA AREA BRANCA USAMOS A DIV */
    form div {color: black; margin-left: 10%;font-size: 16px; padding-top: 33px;}
    
    
    /* CABEÇALHO DO FORMULARIO */
    .headerform {
    text-align: center;
    padding-top: 10%;
    }
    
    /* BOTAO DO FORMULARIO  */
    input {background: rgb(244,244, 244); border: none; width: 90%; height: 32px;margin-top: 10px; margin-bottom: 25px;  color: black;}
    .enviar {width: 90%; height: 55PX; border: none; background: rgba(255, 98, 36, 0.925); text-align: center;}
    .enviar:hover {
        background: rgb(232,111, 61);
            text-decoration: underline;
            cursor: pointer;
          }
    


/* RODAPÉ */
footer {
    background: rgb(81, 26, 196);
    width: 100%;
    height: 100px;
    border-bottom: 4px solid rgb(232,111,108);
    min-width: 100%;
}

footer p {text-align: center; font-size: 12px; }
footer a { font-size: 12px;}

.creditosdesigner { font-size: 8px;}

footer div { padding-top: 15px; text-align: center; 

}

.contato {font-size:14px; }
footer section img {margin-top: 20px;}


/* @MEDIA */
@media ( max-width: 896px) {
* { font-size: 16px;} /* 18px padrao */  /* TIRO 2PX */
.areadepostagem {width: 696px;}
    .post1 {
        width: 50% ;    }
    
        .post1form {width: 350px; margin: 85px 0px 0 3px; font-size: 19px;}

    form {width: 40% ; }


        .sozinho {
            font-size: 23px; /* 25px padrao */
        }

        .letrasmiudas {font-size: 12px;} /* 14px padrao */
}



@media ( max-width: 696px) {
    .areadepostagem {width: 596px;}
        .post1 {
            width: 50% ;    }
        
            .post1form {width: 320px; margin: 75px 0px 0 10px; font-size: 19px;}
    
        form {width: 40% ; }


    
        .sozinho {
                font-size: 21px;
            }

            .letrasmiudas {font-size: 12px;}

    }

    @media ( max-width: 596px) {
        .areadepostagem {width: 496px;}
            .post1 {
                width: 50% ;    }
            
                .post1form {width: 220px; margin: 45px 0px 0 3px; font-size: 19px;}
        
            form {width: 40% ; }

    
        
            .sozinho {
                    font-size: 21px;
                }
    
                .letrasmiudas {font-size: 12px;}    
    
        }

        @media ( max-width: 496px) {
            .areadepostagem {width: 396px;}
                .post1 {
                    width: 50% ;    }
                
                    .post1form {width: 220px; margin: 35px 0px 0 3px; font-size: 19px;}
            
                form {width: 40% ; }
        
            
                .sozinho {
                        font-size: 21px;
                    }
        
                    .letrasmiudas {font-size: 12px;}    
                    
        
            }

            @media ( max-width: 396px) {
                .areadepostagem {width: 306px;}
                    .post1 {
                        width: 53% ;} /* 55% */
                    
                    .post1form {width: 290px; margin: 3px 0px 0 3px; font-size: 19px;}
                
                    form {width: 45% ; }             
    
                
                    .sozinho {
                            font-size: 19px;
                        }
            
                        .letrasmiudas {font-size: 10px;}    
            
                }
